<section>
    <div class="container-search">
        <div class="box-gen">
            <button class="btngen genero">Mulheres | 37948</button>
            <button class="btngen">Homens | 2381</button>
            <button class="btngen">Trans | 3212</button>
        </div>
        <div class="box-filter-select">
            <select name="select" class="filter-select">
                <option value="destaques" selected>Destaques</option>
                <option value="verificadas" selected>Verificadas</option>
                <option value="recentes">Recentes</option>
            </select>
        </div>
    </div>
</section>
<section>
    <div class="container-profiles">
        <div class="box-filter">
            <div class="input-search">
                <input type="text" name="" id="" placeholder="Buscar Modelo">
            </div>
            <div class="input-search">
                <input type="text" name="" id="" placeholder="Buscar Modelo">
            </div>
            <div class="input-search">
                <input type="text" name="" id="" placeholder="Buscar Modelo">
            </div>
            <div class="input-search">
                <input type="text" name="" id="" placeholder="Buscar Modelo">
            </div>
            <div class="input-search">
                <input type="text" name="" id="" placeholder="Buscar Modelo">
            </div>
            <div class="input-search">
                <input type="text" name="" id="" placeholder="Buscar Modelo">
            </div>
            <div class="input-search">
                <input type="text" name="" id="" placeholder="Buscar Modelo">
            </div>
            <div class="input-search">
                <input type="text" name="" id="" placeholder="Buscar Modelo">
            </div>
        </div>
            <div class="box-profiles">
                <div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div>
                <div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div>
                <div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div>
                <div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div>
                <div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div>
                <div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div>
                <div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div><div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div>
                <div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div>
                <div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div>
                <div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div>
                <div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div>
                <div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div><div class="card-profile">
                    <div class="box-foto">
                        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="box-price">
                            <button>R$ 250/H</button>
                        </div>
                    </div>
                    <div class="box-name-local">
                        <div class="box-name">
                            <h2>Jéssica Gomes, </h2>
                            <span>34 anos</span>
                        </div>
                        <div class="box-local">
                            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
                        </div>
                    </div>
                </div>

            </div>
    </div>
</section>