<section>
    <div class="title-destaque">
        <h2>Destaques <i class="fa-solid fa-bolt fa-bounce"></i></h2>
    </div>
    <div class="container-destaque">
        <div class="card-destaque">
                <img loading="lazy" src="https://images.pexels.com/photos/12635436/pexels-photo-12635436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <div class=""></div>
        </div>
        <div class="card-destaque">
            <img loading="lazy" src="https://images.pexels.com/photos/15047049/pexels-photo-15047049/free-photo-of-praia-litoral-biquini-loira.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=""></div>
        </div>
        <div class="card-destaque">
            <img loading="lazy" src="https://images.pexels.com/photos/8185023/pexels-photo-8185023.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=""></div>
        </div>
        <div class="card-destaque">
            <img loading="lazy" src="https://images.pexels.com/photos/4029924/pexels-photo-4029924.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=""></div>
        </div>
        <div class="card-destaque">
            <img loading="lazy" src="https://images.pexels.com/photos/11890861/pexels-photo-11890861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=""></div>
        </div>
        <div class="card-destaque">
            <img loading="lazy" src="https://images.pexels.com/photos/10960321/pexels-photo-10960321.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=""></div>
        </div>
        <div class="card-destaque">
            <img loading="lazy" src="https://images.pexels.com/photos/12590669/pexels-photo-12590669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=""></div>
        </div>
        <div class="card-destaque">
            <img loading="lazy" src="https://images.pexels.com/photos/10344994/pexels-photo-10344994.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=""></div>
        </div>
        <div class="card-destaque">
            <img loading="lazy" src="https://images.pexels.com/photos/12785020/pexels-photo-12785020.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=""></div>
        </div>
        <div class="card-destaque">
            <img loading="lazy" src="https://images.pexels.com/photos/13568537/pexels-photo-13568537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=""></div>
        </div>
    </div>
</section>