<footer>
    <div class="container-footer">
        <div class="direitos-footer">
            <span>Todos os direitos reservados &copy; 2020-2025</span>
        </div>
        <div class="social-footer">
            <nav>
                <ul>
                    <li><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa-brands fa-square-twitter"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>