
<div class="">
    <h2>Fazer Login</h2>
    <form action="/login/entrar" method="post">
        <input type="email" name="email" id="" placeholder="Seu email">
        <input type="text" name="password" id="" placeholder="Sua Senha">
        <input type="submit" value="Entrar">
    </form>
</div>