<div class="card-profile">
    <div class="box-foto">
        <img loading="lazy" src="https://images.pexels.com/photos/14121917/pexels-photo-14121917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div class="box-price">
            <button>R$ 250/H</button>
        </div>
    </div>
    <div class="box-name-local">
        <div class="box-name">
            <h2>Jéssica Gomes, </h2>
            <span>34 anos</span>
        </div>
        <div class="box-local">
            <span><i class="fa-solid fa-location-dot"></i>Rio de Janeiro</span>
        </div>
    </div>
</div>