<div class="">
    <h2>Registrar</h2>
    <form action="/register/save" method="post">
        <input type="email" name="email" id="" placeholder="Email">
        <input type="text" name="password" id="" placeholder="Password">
        <input type="submit" value="Criar">
    </form>
</div>