<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>
<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>
<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>

<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>


<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>
<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>
<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>
<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>
<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>
<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>
<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>
<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>
<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>
<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>
<div class="mb-2.5 break-inside-avoid">
    <img
    class="w-full rounded-xl object-cover"
    src="https://images.pexels.com/photos/17360640/pexels-photo-17360640/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="imagem"
    />
</div>